* {
  box-sizing: border-box;
}
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#join {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
}
#left {
  position: fixed;
  padding: 20px;
}
#left > *:first-child {
  margin-top: 0;
}
#grid {
  border: 1px solid var(--input__border_color);
  font-size: 0;
}
#grid > * {
  display: block;
}
#grid > * > * {
  position: relative;
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  width: 3vw;
  height: 3vw;
  max-width: 50px;
  max-height: 50px;
}
#grid > * > *.even {
  background-color: var(--button__hover_background_color);
}
#grid > * > * > * {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  user-select: none;
}
#grid > * > * > *,
#grid > * > * > * * {
  font-size: 1vw;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
#grid > * > * > *.type-cm,
#grid > * > * > *.type-cm * {
  font-weight: 900;
  text-decoration: underline;
}
#grid > * > * > *.owner-me {
  background-color: #FA1754;
}
#grid > * > * > *.owner-me,
#grid > * > * > *.owner-me * {
  color: white;
}
#grid > * > * > *.selected {
  background-color: #a70430;
}
#player_list p {
  margin-top: 15px;
  margin-bottom: 15px;
}
#player_list p.playing:before {
  display: inline-block;
  margin-right: 7px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  background-color: currentColor;
  content: "";
}
#player_list p.out {
  text-decoration: line-through;
}
#calculator {
  margin-top: 75px;
}
#calculator > * {
  width: 65px;
}
#calculator span {
  margin-left: 7px;
  margin-right: 7px;
}
